/*
This file is part of human-resource-machine-viewer, 
copyright 2015 Alan De Smet.

human-resource-machine-viewer is free software you can
redistribute it and/or modify it under the terms of the GNU
General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option)
any later version.

human-resource-machine-viewer is distributed in the hope that it
will be useful, but WITHOUT ANY WARRANTY; without even the
implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with human-resource-machine-view.  If not, see
<http://www.gnu.org/licenses/>.
*/

.hrmcode {
	font-family: 'Passion One', sans-serif, Impact;
	font-size: 130%;
	background-color: #bca08b;
	color: black;
	position: relative;
	z-index: -2;
	text-transform: none;
}
.hrmcode table {
	border-collapse: collapse;
}
.hrmcode > svg {
	position: absolute;
	top: 0;
	left: 0;
}
.hrmcode div {
	margin: .3em;
}
.hrmcode td {
	padding: 0.2em 0.3em;
}
.hrmcode span {
	text-transform: lowercase;
	padding: 0.1em 0.2em;
	border-radius: 0.1em;
	box-shadow: 0.1em 0.1em 0.05em #ac907b;
}

.hrmcode span.asm_comment {
	text-transform: none;
}
.hrmcode .unknown {
}
.hrmcode .copyfrom,.hrmcode .copyto {
	background-color: #c96a52;
	color: #5f2b1d;
}
.hrmcode .comment {
	color: black;
}
.hrmcode .comment svg {
	vertical-align: middle;
	height: 3em;
	max-width: 9em;
	width: auto;
}
.hrmcode .arg svg {
	vertical-align: middle;
	height: 1em;
	width: auto;
}
.hrmcode .asm_comment, .hrmcode .arg svg, .hrmcode .comment {
	background-color: #ede6c5;
}
.hrmcode .cmd {
	display: inline-block;
}
.hrmcode .inbox,.hrmcode .outbox {
	background-color: #9cb65b;
	color: #474f2c;
}
.hrmcode .bumpup,.hrmcode .bumpdown,.hrmcode .add,.hrmcode .sub {
	background-color: #c48d63;
	color: #5b3d27;
}
.hrmcode .jump,.hrmcode .jumpn,.hrmcode .jumpz,.hrmcode .jumpdst {
	background-color: #8d8dc1;
	color: #3d3c5a;
}
.hrmcode .jumptype {
	font-size: 70%;
	line-height: 60%;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	padding-left: 0.1em;
	margin: 0;
	border: 0;
}
.hrmcode .jumpdst {
	color: #8d8dc1;
	/*color: #5d5d91;*/
	min-width: 1.5em;
}
.hrmcode .asm_comment {
	color: #666;
}
.hrmcode td.linenum {
	background-color: #a48a78;
	color: #7b6456;
}
.hrmcode .jumppath {
	stroke: #8d8dc1;
	stroke-width: 0.3em;
	fill: transparent;
}
.hrmcode .jumppatharrow {
	stroke: #8d8dc1;
	fill: #8d8dc1;
	stroke-width: 0;
}
.hrmcode > svg {
	z-index: -1;
}

.hrmcode svg circle.stroke{
	color: black;
}

.hrmcode svg polyline.stroke{
	color: black;
	stroke: black;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: transparent;
}

.hrmcode tr.active td {
	background-color: blue;
}

/*!

Split Pane v0.1

Copyright (c) 2012 Simon HagstrÃ¶m

Released under the MIT license
https://raw.github.com/shagstrom/split-pane/master/LICENSE

*/
.split-pane {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.split-pane.fixed-top > .split-pane-component,
.split-pane.fixed-bottom > .split-pane-component,
.split-pane.horizontal-percent > .split-pane-component {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: auto;
  top: auto;
  bottom: 0;
  z-index: 1;
}

.split-pane.fixed-top > .split-pane-component:first-child,
.split-pane.fixed-bottom > .split-pane-component:first-child,
.split-pane.horizontal-percent > .split-pane-component:first-child {
  top: 0;
  bottom: auto;
}

.split-pane.fixed-top > .split-pane-divider,
.split-pane.fixed-bottom > .split-pane-divider,
.split-pane.horizontal-percent > .split-pane-divider {
  position: absolute;
  width: 100%;
  left: 0;
  cursor: ns-resize;
  cursor: n-resize\9;
  z-index: 2;
}

.split-pane.fixed-left > .split-pane-component,
.split-pane.fixed-right > .split-pane-component,
.split-pane.vertical-percent > .split-pane-component {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: auto;
  left: auto;
  right: 0;
  z-index: 1;
}

.split-pane.fixed-left > .split-pane-component:first-child,
.split-pane.fixed-right > .split-pane-component:first-child,
.split-pane.vertical-percent > .split-pane-component:first-child {
  left: 0;
  right: auto;
}

.split-pane.fixed-left > .split-pane-divider,
.split-pane.fixed-right > .split-pane-divider,
.split-pane.vertical-percent > .split-pane-divider {
  position: absolute;
  height: 100%;
  top: 0;
  cursor: ew-resize;
  cursor: w-resize\9;
  z-index: 2;
}

.split-pane-resize-shim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: none;
}

.split-pane.fixed-left > .split-pane-resize-shim,
.split-pane.fixed-right > .split-pane-resize-shim,
.split-pane.vertical-percent > .split-pane-resize-shim {
  cursor: ew-resize;
  cursor: w-resize\9;
}

.split-pane.fixed-top > .split-pane-resize-shim,
.split-pane.fixed-bottom > .split-pane-resize-shim,
.split-pane.horizontal-percent > .split-pane-resize-shim {
  cursor: ns-resize;
  cursor: n-resize\9;
}

html, body
{
  margin: 0;			/* Remove body margin/padding */
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;	/* Remove scroll bars on browser window */
}
.CodeMirror {
  border: 1px solid #eee;
  height: 100%;
}
.cm-wrap {
  position: relative;
  height: 100%;
  background: #eee;
  box-sizing: border-box;
}
.cm-border {
  background: #eee;
  height: 100%;
}
.breakpoints {width: .8em;}
.breakpoint { color: #822; }
.line-breakpoint { background-color: #ff7; }
.line-error { background-color: #f2dede; }
.command-toolbar {
  margin-top: 8px;
  margin-left: 25px;
}
.modal-lg { left: -25%; }

/*.load-saves-box {
  min-height: 300px;
  max-height: 600px;
  overflow: scroll;
}*/

.level-select-area {
  margin-top: 4px;
}

#code-view {
  height: 100%;
}

.hrmcode { z-index: 1; }
.hrmcode > svg { z-index: 2; }
.hrmcode tr.active td {
    background-color: rgba(255, 255, 255, 0.25);
}

.progress {
  margin-bottom: 0px;
  height: 4px;
}

#header { padding: 1em; }

#code-pane {
  padding-top: 54px;
  min-width: 400px;
  width: 60%;
}

#divider {
  left: 60%;
  width: 5px;
  background: #ccc;
}

#other-pane {
  padding-top: 54px;
  left: 60%;
  margin-left: 5px;
  min-width: 150px;
}

.alert {
  margin: 5px;
}

#floorState, #handState {
  float: left;
  margin: 10px;
}
#floorState td, #handState {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}
